@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: url("./assets/sw-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(5px);
}
.hide-scroll-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}